# python cache
__pycache__

# jupyter notebook cache
.ipynb_checkpoints

# poetry packaging outputs
/dist/

# mkdocs output
/site

# personal vscode settings
.vscode/

# test data
/test_data/

# sphinx outputs
/docs/_build
