[tool.poetry]
name = "meadowdata"
version = "0.1.0"
description = "A platform for data scientists, including a database and a job scheduler"
authors = ["Richard Lee <hrichardlee@gmail.com>"]
homepage = "https://github.com/meadowdata/meadowdata"
repository = "https://github.com/meadowdata/meadowdata"
keywords = []
packages = [
    { include = "meadowflow", from = "src" },
    { include = "meadowdb", from = "src" },
    { include = "meadowgrid", from = "src" },
]

[tool.poetry.scripts]
meadowgrid_coordinator = 'meadowgrid.coordinator_main:command_line_main'
meadowgrid_agent = 'meadowgrid.agent_main:command_line_main'
meadowflow = 'meadowflow.server.server_main:command_line_main'

[tool.poetry.dependencies]
python = "^3.9"
duckdb = "^0.3.0"
pyarrow = "^5.0.0"
fastparquet = "^0.7.1"
pandas = "^1.3.1"
grpcio = "^1.39.0"
protobuf = "^3.18.1"
cloudpickle = "^2.0.0"
aiodocker = "^0.21.0"
aiohttp = "^3.8.0"
psutil = "^5.8.0"
boto3 = "^1.20.17"

[tool.poetry.dev-dependencies]
pytest = "^6.2.4"
mypy = "0.*"
black = {version = "^21.6b0", allow-prereleases = true}
grpcio-tools = "^1.39.0"
pandas-stubs = "^1.2.0"
types-protobuf = "^3.18.2"
types-pytz = "^2021.3.1"
mypy-protobuf = "^3.0.0"
flake8 = "^4.0.1"
pytest-asyncio = "^0.16.0"
types-psutil = "^5.8.17"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
testpaths = "tests"
log_level = "DEBUG"
log_cli = true
log_cli_level = "DEBUG"
addopts = "-vvv --strict-markers"

[tool.mypy]
files = "src,tests"

show_column_numbers = true
show_error_codes = true
pretty = true

warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true
allow_redefinition = true
check_untyped_defs = true

[[tool.mypy.overrides]]
module = [ "meadowdb.*", "meadowflow.*", "meadowgrid.*"]
disallow_untyped_defs = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
no_implicit_optional = true
strict_equality = true

[[tool.mypy.overrides]]
module = ["duckdb", "grpc.*", "boto3", "cloudpickle"]
ignore_missing_imports = true
