name: check and test

on:
  push:
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: ["3.9"]
      fail-fast: false # do not cancel all runs in the matrix if one fails.
    defaults:
      run:
        working-directory: ./meadowrun # this sets the default dir for run steps only.
    steps:
    - uses: actions/checkout@v3
      with:
        path: meadowrun
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        pwd
        python -m pip install --upgrade pip
        pip install poetry
        poetry install
    - name: Run code generation
      run: |
        poetry run python -m grpc_tools.protoc -Isrc/protobuf_definitions --python_out=src --mypy_out=src --grpc_python_out=src --mypy_grpc_out=src meadowrun/meadowrun.proto
        poetry run black src/meadowrun/*pb2*
    - name: Run Black
      run: |
        poetry run black --check .
    - name: Run flake8
      run: |
        poetry run flake8
    - name: Run Mypy
      run: |
        poetry run mypy
    - name: Checkout test repo
      uses: actions/checkout@v3
      with:
        repository: meadowdata/test_repo
        path: test_repo
        fetch-depth: 0
    - name: Checkout test repo/test_branch
      run: |
        git -C ../test_repo checkout test_branch
